th, td {
    text-align : center;
    padding: 1.5rem;
    border: 1px solid black;
}
thead tr {
    background-color: gray;
    color: white;
}
table {
    margin-left: 1rem;
    margin-top: 1rem;
}
.headerStudentID {
    padding-left: 5rem;
    padding-right: 5rem;
}
.btn-showIn4 {
    color: white;
    background-color: gray;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.dontHaveAccount {
    background-color: gray;
    color: black;
}
.dontHaveAccount .inputGrade {
    background-color: gray;
    color: black;
}
