.white-btn {
    background-color: white;
    color: black;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.black-btn {
    background-color: gray;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}
.action {
    padding: 0;
}
.table-data {
    margin-top: 1.5rem;
}
.row span input {
    width: 30%;
    margin-top: 0.5rem;
}